<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                                (click)="openNew()"></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
                                (click)="deleteSelectedStudents()"
                                [disabled]="!selectedStudents || !selectedStudents.length"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import"
                                  chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"
                            (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="students!" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                     [globalFilterFields]="['user.firstName','user.lastName','phone']"
                     [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                     [(selection)]="selectedStudents" selectionMode="multiple" [rowHover]="true" dataKey="id"
                     tableStyleClass="equilibrated">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Manage Students</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                                   class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <!-- Define column groups for balanced width -->
                <ng-template pTemplate="colgroup">
                    <col style="width:3rem">          <!-- checkbox column -->
                    <col style="width:10%">           <!-- Id -->
                    <col style="width:15%">           <!-- First Name -->
                    <col style="width:15%">           <!-- Last Name -->
                    <col style="width:20%">           <!-- Email -->
                    <col style="width:20%">           <!-- Group -->
                    <col style="width:20%">           <!-- Actions -->
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="id" class="spaced-column centered-column">Id
                            <p-sortIcon field="id"></p-sortIcon>
                        </th>

                        <th pSortableColumn="firstName" class="spaced-column centered-column">First Name
                            <p-sortIcon field="firstName"></p-sortIcon>
                        </th>
                        <th pSortableColumn="lastName" class="spaced-column centered-column">Last Name
                            <p-sortIcon field="lastName"></p-sortIcon>
                        </th>
                        <th pSortableColumn="email" class="spaced-column centered-column">Email
                            <p-sortIcon field="email"></p-sortIcon>
                        </th>
                        <th pSortableColumn="group" class="spaced-column centered-column">Group
                            <p-sortIcon field="group"></p-sortIcon>
                        </th>

                        <th class="actions-column centered-column">Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-student>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="student"></p-tableCheckbox>
                        </td>
                        <td class="spaced-column centered-column">
                            <span class="p-column-title">Id</span>
                            {{ student.id }}
                        </td>
                        <td class="spaced-column centered-column">
                            <span class="p-column-title">First Name</span>
                            {{ student.user?.firstName }}
                        </td>

                        <td class="spaced-column centered-column">
                            <span class="p-column-title">Last Name</span>
                            {{ student.user?.lastName }}
                        </td>

                        <td class="spaced-column centered-column">
                            <span class="p-column-title">Email</span>
                            {{ student.phone }}
                        </td>

                        <td class="spaced-column centered-column">
                            <span class="p-column-title">Group</span>
                            {{ student.studentGroup?.name }}
                        </td>

                        <td class="actions-column">
                            <div class="flex justify-content-center">
                                <button pButton pRipple icon="pi pi-pencil"
                                        class="p-button-rounded p-button-success mr-2"
                                        (click)="editStudent(student)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                        (click)="deleteStudent(student)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>


    </div>
</div>

