<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                                (click)="openNew()"></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
                                (click)="deleteSelectedGroups()"
                                [disabled]="!selectedGroups || !selectedGroups.length"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import"
                                  chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"
                            (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="groups!" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                     [globalFilterFields]="['user.firstName','user.lastName','phone']"
                     [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                     [(selection)]="selectedGroups" selectionMode="multiple" [rowHover]="true" dataKey="id"
                     tableStyleClass="equilibrated">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Manage groups</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                                   class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <!-- Define fixed column widths for equilibrium -->
                <ng-template pTemplate="colgroup">
                    <col style="width:3rem">          <!-- checkbox column -->
                    <col style="width:10%">           <!-- Id -->
                    <col style="width:15%">           <!-- First Name -->
                    <col style="width:15%">           <!-- Last Name -->
                    <col style="width:20%">           <!-- Email -->
                    <col style="width:20%">           <!-- Group -->
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="id">Id
                            <p-sortIcon field="id"></p-sortIcon>
                        </th>
                        <th pSortableColumn="name">Name
                            <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th class="actions-column centered-column">Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-group>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="group"></p-tableCheckbox>
                        </td>
                        <td class="spaced-column centered-column">
                            <span class="p-column-title">Id</span>
                            {{ group.id }}
                        </td>
                        <td class="spaced-column centered-column">
                            <span class="p-column-title">First Name</span>
                            {{ group.user?.firstName }}
                        </td>
                        <td class="spaced-column centered-column">
                            <span class="p-column-title">Last Name</span>
                            {{ group.user?.lastName }}
                        </td>
                        <td class="spaced-column centered-column">
                            <span class="p-column-title">Email</span>
                            {{ group.user?.email }}
                        </td>
                        <td class="spaced-column centered-column">
                            <span class="p-column-title">Group</span>
                            {{ group.name }}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                        class="p-button-rounded p-button-success mr-2"
                                        (click)="editGroup(group)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                        (click)="deleteGroup(group)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

                    <!-- Create/Edit Group Dialog -->
                    <p-dialog [(visible)]="groupDialog" [style]="{width: '500px'}" header="Group Details" [modal]="true" styleClass="p-fluid">
                        <ng-template pTemplate="content">
                            <div class="field">
                                <label for="name">Name</label>
                                <input type="text" pInputText id="name" [(ngModel)]="group.name" required autofocus
                                       [ngClass]="{'ng-invalid ng-dirty': submitted && !group.name}"/>
                                <small class="ng-dirty ng-invalid" *ngIf="submitted && !group.name">Name is required.</small>
                            </div>

                            <div class="field">
                                <label for="description">Description</label>
                                <textarea pInputTextarea id="description" [(ngModel)]="group.description" rows="3"
                                          [ngClass]="{'ng-invalid ng-dirty': submitted && !group.description}"></textarea>
                                <small class="ng-dirty ng-invalid" *ngIf="submitted && !group.description">Description is required.</small>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveGroup()"></button>
            </ng-template>
                    </p-dialog>

                    <!-- Delete Group Dialog -->
                    <p-dialog [(visible)]="deleteGroupDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="group">Are you sure you want to delete <b>{{group.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteGroupDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
                    </p-dialog>

                    <!-- Delete Multiple Groups Dialog -->
                    <p-dialog [(visible)]="deleteGroupsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete the selected groups?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteGroupsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
            </ng-template>
                    </p-dialog>
    </div>
</div>

